h1 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tbody {
  overflow: auto;
  height: 150px;
}

ul {
  width: 25em;
  list-style: none;
}

li {
  list-style: none;
}

button {
  width: 5em;
}

div.SearchBar {
  float: right;
}